<form [formGroup]="form" class="overflow align">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input matInput
                 type="text"
                 placeholder="Nome Veículo"
                 formControlName="veiculo">
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="form-group">
        <mat-form-field class="full-width-input">
           <input matInput #input
                  type="text"
                  placeholder="Renavam"
                  formControlName="renavam"
                  maxlength="11">
            <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input matInput
                 type="text"
                 placeholder="Placa"
                 formControlName="placa"
                 maxlength="7">
            <mat-hint align="end">{{input.value?.length || 0}}/7</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input matInput
                 type="text"
                 placeholder="Ano"
                 formControlName="ano"
                 maxlength="4">
            <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Cor</mat-label>
          <mat-select formControlName="cor">
            <mat-option *ngFor="let cores of cor"
                        [value]="cores.value">
                        {{cores.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="form-group">
        <button mat-stroked-button color="primary" [disabled]="!this.form.dirty" (click)="onSubmit()">Salvar</button>
      </div>
    </div>
  </div>
  </form>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-menu-item class="size-icon" (click)="onUpdate(element)">
            <mat-icon class="color-edit">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-menu-item class="size-icon" (click)="onRemove(element)">
            <mat-icon class="color-delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="NomeVeiculo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Veículo</th>
        <td mat-cell *matCellDef="let row"> {{row.veiculo}} </td>
      </ng-container>

      <ng-container matColumnDef="Placa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
        <td mat-cell *matCellDef="let row">{{row.placa}}</td>
      </ng-container>

       <ng-container matColumnDef="Renavam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Renavam</th>
        <td mat-cell *matCellDef="let row">{{row.renavam}}</td>
      </ng-container>

      <ng-container matColumnDef="Cor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cor</th>
        <td mat-cell *matCellDef="let element">{{element.cor}}</td>
      </ng-container>

      <ng-container matColumnDef="Ano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
        <td mat-cell *matCellDef="let row">{{row.ano}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let row; columns: headers;"></tr>
    </table>
