<p class="customs">Informações/ Regras!</p>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        1° Regra:
      </mat-panel-title>
      <mat-panel-description class="margin">
        Estacionar de forma irregular
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>De acordo com o CTB(Código Brasileiro de Trânsito), estacionar de forma irregular
      na vaga não respeitando a sinalização adequada está previsto na lei N°13.146 art. 2.
      Onde determina que se um veículo estacionar sem obedecer à sinalização é correspondente
      a infração de natureza<b> grave </b> contendo
      <b>5 pontos na carteira</b> e mais <b>R$195,23</b>.
    </p>
    <p><b>Penalidade Monetária:</b> Além da penalidade informada no
      CTB, ocorrerá uma segunda multa entre 2x a 5x o valor total pago pela vaga </p>
    <p><b>Penalidade Material:</b> Nenhuma</p>
    <p><b>Penalidade Moral: </b> O motorista será advertido.</p>
    <p><b>Então aconselhamos você sempre estacionar de forma correta!</b></p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        2° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Estacionar na vaga fora do horário pré-reservado em contrato.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Estacionar nas vagas fora do horário pré-reservado, tem como penalidades:
    </p>
    <p><b>Penlidade Monetária:</b> Multa com valores que podem váriar
      entre, 10x até 20x sobre o valor total pago pela vaga ,
      podendo ser até superior em determinados horários. </p>
    <p><b>Penalidade Material:</b> O veículo está sujeito a guincho.</p>
    <p><b>Penalidade Moral:</b> O motorista será advertido.</p>
    <p>Então aconselhamos você sempre estacionar dentro do horário pré-estabelecido!</p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        3° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Permanecer na vaga depois do cumprimento do horário reservado.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Permanecer na vaga após o término do horário,
      tem como penaldiade:</p>
    <p><b>Penalidade Monetária:</b> Multa com valores que podem váriar
      entre, 10x até 20x sobre o valor total pago pela vaga ,
      podendo ser até superior em determinados horários.</p>
    <p><b>Penalidade Material:</b> O veículo está sujeito a guincho</p>
    <p><b>Penalidade Moral</b> O motorista do veículo estará sujeito a sofrer boletim de ocorrência</p>
    <p><b>Então aconselhamos você sempre estacionar dentro do horário pré-estabelecido!</b></p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        4° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Estacionar em vagas pré-reservadas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Estacionar em vagas ja reservadas previamente tem como penlidades:
    </p>
    <p>
      <b>Penaldiade Monetária:</b> Multa com valores que podem váriar
      entre, 5x até 10x sobre o valor total pago pela vaga,
      podendo ser até superior em determinadas situações de emergência.
      A cada 30 minutos o valor da multa é dobrado.
    </p>
    <p><b>Penalidade Material:</b> O veículo estacionado está sujeito a guincho.</p>
    <p><b>Penalidade Moral:</b> O motorista está sujeito a boletim de ocorrência.</p>
    <p><b>Então aconselhamos você sempre estacionar na vaga correta!</b></p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        5° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Advertências
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>O motorista que possuir no total de <b>3(três)</b> advertências sofrerá suspensão de 1(uma)
      semana do seu login, de atividades relacionadas ao site.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        6° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Suspensão
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>A suspensão da conta permanentemente ocorrerá em <b>3(três) estapas, sendo elas:</b>
    </p>
    <p><b>1° Etapa:</b> A primeira suspensão terá o banimento da conta durante 1(uma) semana.</p>
    <p><b>2° Etapa:</b> A segunda suspensão terá o banimento da conta durante 30(trinta) dias.</p>
    <p><b>3° Etapa:</b> A terceira e última suspensão terá o banimento da conta permanente.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        7° Regra:
      </mat-panel-title>
      <mat-panel-description>
        Empresa excluir/alterar vagas já reservadas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>A empresa excluir vagas já reservadas por clientes, poderá sofrer penalidades:
    </p>
    <p>
      <b>Penaldiade Monetária:</b> Multa com valores que podem váriar
      entre, 10x até 20x sobre o valor total pago pela vaga,
      podendo ser até superior em determinadas situações de emergência.
    </p>
    <p><b>Penalidade Moral:</b> A empresa está sujeito a boletim de ocorrência.</p>
    <p><b>Então aconselhamos você sempre excluir as vagas no período noturno!</b></p>
  </mat-expansion-panel>
</mat-accordion>
