mat-card {
  max-width: 500px;
  margin: 1em auto;
}

.company-registration-content {
  padding: 40px ;
}

.content-title {
  text-align: center;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

.full-width-input {
  width: 100%;
}

.size-icon {
  background-size: cover;
  height: 20px !important;
  width: 20px !important;
  font-size: 40px !important;
}

.size{
  height: 500px;
}

button {
  margin: 70px;
  margin-bottom: 10px;
}
