mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}

.full-width-input {
  width: 100%;
}

.sizeIcon {
  align-items: center;
  height: 98px !important;
  width: 98px !important;
  font-size: 98px !important;
}

.link {
  padding: 60px 1rem;
}

.align-button {
  display: block;
  margin-left: 150px;
  margin-top: 20px;
}
